body {
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color:hsl(47, 89%, 66%);
  
}
.card-container {
  padding: 35px;
  max-width: 360px;
  background-color: white;
  border-radius: 20px;
  border: solid 1px black;
  box-shadow:  10px 10px 80px black;
}

.image-container img {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.description-container {
  padding: 20px 0;
}
button {
  background-color: hsl(47, 88%, 63%);
  color: rgb(7, 7, 7);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  font-weight: 900;
  font-size: 1rem;
}
.publish-date {
  color: rgb(68, 67, 67);
  font-size: 1rem;
}
h1 {
font-size: 1.5rem;
font-weight: 1000;
line-height: 2;
}
h1:hover {
  color: hsl(47, 89%, 66%);
}
.description {
  color: rgb(148, 146, 146);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 700;
}
.author {
  display: flex;
  margin: 15px 0;
}
.author img {
  padding-right: 30px;
}
.author p {
  font-weight: 800;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .card-container {
    padding: 5%;
    min-width: 290px;
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
  }
}

.attribution {
  font-weight: 700;
  color: grey;
}
.attribution a {
  text-decoration: none;
}