 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    }
    body {
      background-color: hsl(47, 88%, 63%);
    }
  .container {
    max-width: 280px;
    margin: 25% auto;
    width: 100%;
    padding: 17px;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 5px 4px 1px 1px rgba(0, 0, 0, 0.8);
    background-color: white;
    }
    p {
      font-size: 11px;
      line-height: 1.5;
      color: rgb(73, 72, 72);
    }
  img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 15;
  border-radius: 10px;
  margin-bottom: 15px;
}
h1 {
  font-size: 16px;
  font-weight: 900;
  margin: 10PX 0;
}
button {
  font-size: 11px;
  font-weight: 900;
  background-color: hsl(47, 88%, 63%);
  padding: 4px 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.attribution{
  background-color: white;

}
.avater {
  display: flex;
  align-items: center;
  margin: 15px 0 0;

}
.avater img {
  width: 25px;
  margin-right: 10px;
}
.avater p {
  font-weight: 900;
  margin-top: -10px;
}
/* Tablet */
@media (min-width: 600px) {
  .container {
    max-width: 400px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 8px 2px 2px rgba(0, 0, 0, 0.8);
  }
 button {
    font-size: 18px;
    margin: 15px;
  }

  h1 {
    font-size: 25px;
    margin: 10x;
  }
  h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
  }

  p {
    font-size: 20px;
  }

  .avater img {
    width: 40px;
  }

  .avater p {
    font-size: 16px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 450px;
    padding: 30px;
    margin: 10% auto;
    box-shadow: 15px 10px 3px 3px rgba(0, 0, 0, 0.8);
  }
  .container img {
    width: 100%;
  }
  h1 {
    font-size: 27px;
  }

  p {
    font-size: 20px;
  }

  button {
    font-size: 17px;
    padding: 6px 14px;
  }
  .avater {
    margin: 25px 0 0;
  }
  .avater img {
    width: 40px;

  }

  .avater p {
    font-size: 17px;
  }
}